
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal:700&display=swap&subset=arabic');


--devloper by tma

.container {
    height: 100vh;
    font-family: 'Tajawal', sans-serif !important;
}

.scoreboard-block {
    display: none;
    position: absolute;
    height: 37.0vh;
    width: 42vh;
    border-top: thick double rgb(0, 255, 191);
    border-right: 3px;
    border-radius: 18px;
    background: linear-gradient(to right, rgba(133,133,133,0) 30%, rgba(133, 133, 133, 0) 50%, rgb(43, 44, 54) 100%);
    right: 5vh;
    top: 22vh;
    padding: 1;
}

.scoreboard-header > p {
    font-weight: bold;
    color: rgb(0, 255, 191);
    padding: 0vh;
    font-family: 'Tajawal';
    font-size: 1.8vh;
}

.scoreboard-info {
    position: absolute;
    height: 32.5vh;
    width: 20vh;
    top: 46%;
	  left: 51%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.scoreboard-info1 {
    position: absolute;
    height: 32.5vh;
    width: 20vh;
    top: 46%;
	left: 1.3%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.scoreboard-info-header {
    position: relative;
    height: 2vh;
}

#info-tab-label {
    position: absolute;
    font-family: 'Tajawal';
    color: rgb(56,236,168);
    left: 1vh;
    font-weight: bold;
}

#status-tab-label {
    position: absolute;
    font-family: 'Tajawal';
    color: rgb(56,236,168);
    right: 3vh;
    font-weight: bold;
}

.info-beam-title {
    position: absolute;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.2vh;
    font-weight: lighter;
    color: rgb(56,236,168);
    letter-spacing: 0.1vh;
    left: 1vh;
    line-height: 4.25vh;
}

.info-beam-status {
    position: absolute;
    font-family: 'Tajawal';
    font-size: 1.6vh;
    color: rgb(236, 56, 56);
    right: 2vh;
    float: left;
    text-align: left;
    line-height: 4.25vh;
}

.info-beam-status1 {
    position: absolute;
    font-family: 'Tajawal';
    font-size: 1.6vh;
    color: rgb(56,236,168);
    right: 2vh;
    float: left;
    text-align: left;
    line-height: 4.25vh;
}

.scoreboard-info-beam {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgb(56,236,168);
    height: 3.75vh;
    margin: 5px 1px 1px 1px;
    width: 100%;
}

.scoreboard-info-beam1 {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgb(56,236,168);
    height: 3.75vh;
    margin: 5px 1px 1px 1px;
    width: 100%;
}


.fa-check {
    color: rgb(59, 141, 49);
}

.fa-clock {
    color: rgb(255, 190, 50);
}

.green {
    color: rgb(98, 255, 78);
}

.red {
    color: rgb(235, 59, 59);
}

.clover-logo {
  position: absolute;
  margin-left: 33%;
  margin-top: -15%;
  height: 13.4vh;
  width: 13.4vh;
}
